/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  width: 100vw;
}

input {
  font-size: 12px;
}

h1 {
  color: #525454;
  font-size: 22px;
  text-align: center;
}

hr {
  background: #D0D7D9;
  height: 1px;
  margin: 0px;
  border: none;
}

.map {
  bottom:0px;
  height: 90vh;
  width: 100vw;
  position: absolute;
  /* right: 0px; */
  /* margin-left: 0px; */
}

.map.push {
  margin-left: 35vw;
}

.options-box {
  line-height: 35px;
  padding: 10px 10px 30px 10px;
  text-align: left;
  width: 33vw;

  /* This trasform moves the drawer off canvas. */
  -webkit-transform: translate(-340px, 0);
  transform: translate(-340px, 0);
  /* Optionally, we animate the drawer. */
  transition: transform 0.3s ease;
}

.options-box.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.locations-list {
  padding: 0rem 1rem 1rem .1rem;
}

.locations-list li {
  list-style-type: none;
  font-size: 1rem;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.3);
  margin-top: 1rem;
  padding: .5rem;
  text-align: center;
  cursor: pointer;
  background: paleturquoise;
}

#places-search {
  height: 2rem;
  font-size: 1rem;
  width: 30vw;
}

.text {
  font-size: 12px;
}

.header-menu {
  display: inline-block;
  position: absolute;
  right: 0;
  padding: 0rem 1rem 0rem 0rem;
}
.header-menu svg {
  width: 32px;
  fill: #525454;
  cursor: pointer;
}

.fourSquare-image {
  width: 150px;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 16px;
  }

  .options-box.open {
    width: 65vw;
    line-height: 20px;
  }

  .map.push {
    margin-left: 65vw;
  }

  .locations-list li {
    font-size: 1rem;
    margin-top: .5rem;
  }

  #places-search {
    width: 58vw;
  }
}